<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Unicorn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UnicornIntents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>UnicornIntentsUI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6118B941D2998FF00FC1D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6118BA81D2998FF00FC1D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6118BB31D2998FF00FC1D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6118BC91D29993400FC1D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6118BD21D29993400FC1D9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
